nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
   
}

nav ul li{
list-style: none;
margin-right: 50px;
}

.btn-primary{
    background-color: blue;
    font-weight: bold;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
}


.header{
    background-image: url('../assignment-images/Hero-bg.png');
}

.nav-title{
  color: #4f46e5;
  font-weight: 800;
  font-weight: bold;
  
}


.banner {
    display: flex;
    margin: 200px 0px 200px 500px;
    padding:  50px 50px;
    
}

.hero-titile{
    font-size: 32px;
    margin-bottom: 20px;
}






.btn-primary{
  border: none;
  text-align: center;

  border-radius: 6px;
  
  background-color: blue;
  color: white;
}
.text-primary{
    padding-left: 60px;
}



.action {
  display: flex;
  gap: 500px;
  align-items: center;
  margin: 80px 90px;
 border-radius: 50%;

  
}




/* second part-left */
.btn-secondary{
background-color: blue;
font-weight: bold;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
}



/*  second part - image part right */
.action img {
  width:100%;
  border-radius: 50px;
}

























.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.secondary-bg{

    background-color: rgb(209, 170, 207);
}


/* about style */
.about{
    border-radius: 20px;
    padding: 10px  10px;
    text-align: center;
     margin-bottom: 100px;
   
}


/* main style */

main{
    max-width: 900px;
    margin: 0 auto;
}

.item-description{
    font-weight: 600;

}


.about-items{
    display: flex;
    justify-content: space-around;
}


.item-description{
     color: #4f46e5;
  font-size:  60px;
}



.item-title{


 display: flex;
  justify-content: space-around;
  padding: 0px 10px;
  
}